.container{
    border: 3px solid #93DA97;
    background-color: #5E936C;
    align-items:center;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    justify-content:start;
    border-radius: 10px;
    padding: 10px;
}

.monitor{
    border: solid 3px #3E5F44;
    justify-content: end;
    align-items: center;
    display: flex;
    width: 94%;
    height: 15%;
    border-radius: 10px;
    background-color: #93DA97 ;
    margin: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    word-break: break-all;
}

body {
  font-family: sans-serif;
  background: #3E5F44;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button{
    background-color: #3E5F44;
    color: white;
    border-radius: 10px;
    width: 90px;
    height: 70px;
    margin: 2px;
    font-size: 30px;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover{
    background-color: #004030 ;
}

button:active{
    transform: scale(0.95);
}

.calculatorButton{
    display: flex;
    flex-direction: column-reverse;
}

.row{
    display: flex;
    justify-content:  center;
}

button[data-type="operator"]{
    background-color: #2C4A34;
}

button[data-type="clear"], 
button[data-type="delete"] {
    background-color: #A52A2A;
}

button[data-type="clear"]:hover, 
button[data-type="delete"]:hover {
    background-color: #8B0000;
}